<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="btn">一键生成海报</button>
    <span id="content">返回的数据</span>
    <a id="imga" href="" target="_blank">点击</a>
    <script>
      $(function(){
       var code = '123456789';
       $('#btn').click(function(){
          $.ajax({
            url: '/genposter',
            type: 'post',
            data: {
              identitycode: 'C0xZdh9XdwhZs+X/waxQQVs2FT1y7PEf3qFR1DEnSC3noATU4Ok5Zc4IYrl58uTT0Rx7M9GvWiCMrzEDeGazDQ=='
            },
            success: function(res){
              $('#content').html(JSON.stringify(res));
              $('#imga').attr('href', '/poster/'+res.path);
            },
            error: function(err){
              console.log(err);
            }
          });
       });
      });
    </script>
  </body>
</html>
