<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <link rel="stylesheet" href="../../common/css/common1.css">
    <link rel="stylesheet" href="../../common/css/flex.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../css/activeRules.css">
    <title>活动规则</title>
    <script type="text/javascript" src="../../common/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div id="activeRules">
    <div class="main-container theme-linear-bgColor">
        <div class="main-content-container fontsize13 line-height24">
            <p class="fontsize15">活动规则：</p>
            <p style="margin-bottom: 8px;margin-top: 16px">进CAN电报群奖励规则</p>
            <div class="flex">
                <p>1. </p>
                <p>进入CAN电报群，发送code码。</p>
            </div>

            <div class="flex">
                <p>2.</p>
                <p>已生成code码并进电报群用户，以X月X日群内快照为准。</p>
            </div>
            <div class="flex">
                <p>3. </p>
                <p>在电报群发送code链接转发邀请好友加入电报群，可额外获得转发奖励最高18.8个CAN。</p>
            </div>
            <div class="flex">
                <p>4. </p>
                <p>以上活动，以300万个CAN糖果送完为止。</p>
            </div>
            <p style="margin-top: 22px;margin-bottom: 8px">邀请好友奖励规则</p>

            <div class="flex">
                <p>1.</p>
                <div>
                    <p>奖励阶梯</p>
                    <p>1人-30人=18.8CAN</p>
                    <p>31人-100人=10.8CAN</p>
                    <p>100人之后=5.8CAN</p>
                </div>
            </div>
            <div class="flex">
                <p>2.</p>
                <p>认定方式</p>
            </div>
            <p class="indent-more-title">系统自动统计根据你个人code产生的邀请码进群用户，并以活动结束日当天仍在群内快照人数为准。</p>
            <div class="flex">
                <p>3.</p>
                <p>发放时间</p>
            </div>
            <p class="indent-more-title">活动结束后5个工作日内陆续发放</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/activeRules.js"></script>
</body>
</html>