<!doctype html>
<html lang="en">
<head>
    <title>提币</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common2.css">
    <link rel="stylesheet" href="../../common/css/common1.css">
    <link rel="stylesheet" type="text/css" href="../css/drawcoin.css">
    <link rel="stylesheet" href="../../common/css/flex.css">
</head>
<body>
<header>
    
</header>
<div class="main">
    <h1>短信验证</h1>
    <div class="item">
        <span>
            <input type="text" id="codeCANPhone" name="epid" placeholder="请输入验证码">
            <i style="display: inline-block; width: 1px; height: .16rem; margin-top: .14rem; background: #D1D1D6;"></i>
        </span>
        <span class="countDown">获取验证码</span>
        <span class="warn" style="position: absolute; left: .17rem; bottom: 0; color: #FF3B00;"></span>
    </div>
    <div class="item">
        <div class="btn getBiToken-btn">提到 imToken 钱包</div>
    </div>
    <p>您当前的CAN未达到188枚，不可提币</p>
</div>
<div class="model">
    <div class="dialog-model">
        <div class="dialog-header flex flex-align-center flex-pack-center">
            <img src="" alt="" class="dialog-img-marking">
            <p class="tibi-result-title"></p>
        </div>
        <div class="desc-dialogInfo">
            <p></p>
        </div>
        <p class="them-fontColor sureDialog-btn">确认</p>
    </div>
</div>
<script type="text/javascript" src="../../common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../common/js/Util.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script type="text/javascript" src='../js/drawcoin.js'></script>
</body>
</html>