<!doctype html>
<html lang="en">
<head>
    <title>电报推广</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="../css/promo.css">
</head>
<body>
<header>
    <h1>已邀请<i>10</i>人</h1>
    <p>每邀请一个好友入群，即可再获得CAN糖果!被邀请进群的用户也可以获得 <i>18.8</i> 个CAN！</p>
</header>
<div class="main">
    <div class="btn">加入CAN Telegram群组</div>
    <div class="content">
        <h1>活动规则:</h1>
        <h2>进CAN电报群奖励规则</h2>
        <p>1.&nbsp;&nbsp;进入CAN电报群，发送code码。</p>
        <p>2.&nbsp;&nbsp;已生成code码并进电报群用户，以X月X日群内快照为准。</p>
        <p>3.&nbsp;&nbsp;在电报群发送code链接转发邀请好友加入电报群，可额外获得转发奖励最高18.8个CAN。</p>
        <p>4.&nbsp;&nbsp;以上活动，以300万个CAN糖果送完为止。</p>
        <h2 style="margin-top: .22rem;">邀请好友奖励规则</h2>
        <p>1.&nbsp;&nbsp;奖励阶梯</p>
        <p style="margin-left: .16rem">1人-30人=18.8CAN</p>
        <p style="margin-left: .16rem">31人-100人=10.8CAN</p>
        <p style="margin-left: .16rem">100人之后=5.8CAN</p>
        <p>2.&nbsp;&nbsp;认定方式</p>
        <p style="margin-left: .16rem">系统自动统计根据你个人code产生的邀请码进群用户，并以活动结束日当天仍在群内快照人数 为准。</p>
        <p>3.&nbsp;&nbsp;发放时间</p>
        <p style="margin-left: .16rem">活动结束后5个工作日内陆续发放</p>
    </div>
</div>
<script type="text/javascript" src="../../common/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    // 低版本浏览器不支持css时
    // document.documentElement.style.fontSize = window.innerWidth/7.5 + 'px'
</script>
</body>
</html>