<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <link rel="stylesheet" href="../../common/css/common1.css">
    <link rel="stylesheet" href="../../common/css/flex.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../css/userActiveSelf.css">
    <title>活动规则</title>
    <script src="../../common/js/jquery-3.3.1.min.js"></script>
    <script src="../../common/js/jquery.qrcode.min.js"></script>
</head>
<body>
<div id="userActiveSelf">
    <div class="main-container">
        <div class="main-contentBg-container">
            <div class="qrCode-container">
                <p class="qrCode-img-container"></p>
                <p class="flex flex-pack-center flex-align-center qr-porduct-wrapper"><img src="" alt="" id="qrcodeImg"></p>
                <p style="font-size: 11px;opacity: 0.5;color: #ffffff;margin-top: 8px">长按识别二维码进入活动页面</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../common/js/weixin.min.js"></script>
<script type="text/javascript" src="../../common/js/Util.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script type="text/javascript" src="../js/userActiveSelf.js"></script>
</body>
</html>