body,#userActiveSelf,.main-container {
    height: 100%;
}
#bigbig-img img {
    width: 100%;
}
.main-contentBg-container {
    /*background-image: url("../../common/images/poster.png");*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    position: relative;
}

.qrCode-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    bottom: .33rem;
}
.qr-porduct-wrapper {
    width: 160px;
    height: 160px;
    background: #ffffff;
    margin: 0 auto;
}
.qr-porduct-wrapper img {
    width: 140px;
    height: 140px;
}