body,#userActiveSelf,.main-container {
    height: 100%;
    font-size: 16px !important;
}

#bigbig-img {
    position: relative;
    /*overflow-y: hidden;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
#bigbig-img > img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.main-container {
    background-image: url("../../common/images/bgself.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}
.qrCode-container {
    position: absolute;
    left: 50%;transform:
        translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    bottom: 24px;
}
.qr-porduct-wrapper {
    width: 160px;
    height: 160px;
    background: #ffffff;
    margin: 0 auto;
}
.qr-porduct-wrapper img {
    width: 140px;
    height: 140px;
}
.top-img-wrapper {
    height: 44%;
    background-image: url("../../common/images/top_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 30px;
}
.center-img-wrapper {
    height: 25%;
    background-image: url("../../common/images/center_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 10px;
}